include ../../components/header
include ../../components/footer

include ../../components/modals

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="styles.min.css")
    link(
      rel="icon",
      type="image/png",
      href="assets/favicon-96x96.png",
      sizes="96x96"
    )
    link(rel="icon", type="image/svg+xml", href="assets/favicon.svg")
    link(rel="shortcut icon", href="assets/favicon.ico")
    link(
      rel="apple-touch-icon",
      sizes="180x180",
      href="assets/apple-touch-icon.png"
    )
    meta(name="apple-mobile-web-app-title", content="Буревестник")
    link(rel="manifest", href="assets/site.webmanifest")
    script(
      src="https://api-maps.yandex.ru/v3/?apikey=d176ec1a-b884-4f13-8214-24154cf58189&lang=ru_RU"
    )
    title Буревестник
  body(class="bg-background font-montserrat")
    div(class="flex min-h-svh flex-col")
      +header
      block content
        main content
      +footer
      block modals
        +burger
  script(src="main.min.js") 
